<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />

    <link href="../static/css/empty.css" rel="stylesheet" />
</head>
<body>
    <div class="empty">
        <img src="../static/image/database_icon.png" />
        <div class="fs-6 prompt">没有记录！</div>
    </div>
</body>
</html>